<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
  xmlns:set="http://www.sitecore.net/xmlconfig/set/"
  xmlns:env="http://www.sitecore.net/xmlconfig/env/"
  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <powershell>
      <services>
        <remoting>
          <patch:attribute name="enabled" value="true" />
          <patch:attribute name="requireSecureConnection" value="false" />
          <authorization>
            <add Permission="Allow" IdentityType="User" Identity="sitecore\Admin"/>
          </authorization>
        </remoting>
      </services>
    </powershell>
  </sitecore>
</configuration>