tools/**
!tools/packages.config
build
.vagrant

# Sitecore Secrets
src/components/sitecore/chef/cookbooks/gusztavvargadr_sitecore/attributes/secrets.rb
src/components/sitecore/chef/cookbooks/gusztavvargadr_sitecore/files/license.xml